
.navbar {
    overflow: hidden;
   
   
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04aa6d;
    color: white;
  }