@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.agent-app {
  display: flex;
}

.agent-app > .react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 0;
  padding: 0;
  color: white;
  padding-top: 5px;
  background-color: rgb(229, 231, 235);
}

.agent-app > .react-tabs__tab-list .react-tabs__tab {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
  box-shadow: 4px 4px 8px #0000001f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #3876c4;
  margin-bottom: 5px;
  width: 40px;
  height:40px;
}

.agent-app > .react-tabs__tab-list .react-tabs__tab:focus:after{
  content:none;
}

.agent-app > .react-tabs__tab-list > .react-tabs__tab--selected {
  background-color: #e06b56;
  color:white;
}

.agent-app > .react-tabs__tab-panel {
  display: none;
  width: calc(100% - 50px);
  background-color: white;
  padding: 20px;
}

.agent-app > .react-tabs__tab-panel--selected {
  display: block;
}

.agent-app > .react-tabs__tab {
  padding-left: 24px;
}

.agent-app > .react-tabs__tab-list > .react-tabs__tab--selected {
  
 
   

}

.agent-app > .react-tabs__tab-panel > .panel-content {
  text-align: center;
}
html {
  overflow-x: hidden;
}
